
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Index</h2>

<div id="tagID">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tagID").text("Xin Chào");
    })
</script>